:root {
	font-size: 18px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	background-color: #f3f4f6;
	color: #030712;
}

.dark body {
	background-color: #111827;
	color: #fff;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.container {
	max-width: 54rem;
	padding: 0 1rem;
	margin: 0 auto;
	position: relative;
}

.ng-cloak {
	display: none;
}

.yearlings {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

@media (min-width: 814px) {
	.yearlings {
		flex-direction: row;
		align-items: flex-start;
	}
}

.location, .battle {
	flex-grow: 1;
	width: 100%;

	ul {
		padding: 0;
		margin: 0;
		width: fit-content;
	}

	li {
		list-style: none;
		margin: 0.25rem 0;

		button {
			width: 100%;
			padding: 0.5rem 2rem;
			border-radius: 0.25rem;
			color: inherit;
			border: 0;
			background-color: #ea580c;
		}
	}
}

header {
	display: flex;
	flex-direction: column;
}

h1 {
	text-align: center;
}

.load-game {
	text-align: center;

	button {
		padding: 0.5rem 2rem;
		border-radius: 0.25rem;
		color: inherit;
		border: 0;
		background-color: #ea580c;
		margin-right: 0;
	}
}

@media (min-width: 520px) {
	header {
		flex-direction: row;
		align-items: center;

		h1 {
			flex-grow: 1;
			text-align: left;
		}
	}
	.load-game {
		button {
			margin-right: 2rem;
		}
	}
}

.stats {
	order: 1;
	min-width: 17rem;
	border: 1px solid #4b5563;
	border-radius: 0.5em;
	display: grid;
	gap: 1px;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	background-color: #4b5563;
	margin-bottom: 1rem;

	.stat {
		background-color: #d1d5db;
		padding: 0.75rem 1rem;
	}
	.stat:first-child {
		border-top-left-radius: 0.5rem;
	}
	.stat:nth-child(2) {
		border-top-right-radius: 0.5rem;
	}
	.stat:nth-child(2n) {
		text-align: right;
	}
	.stat:last-child {
		grid-column: span 2 / span 2;
		border-bottom-right-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}
	.stat.consume {
		display: flex;
		gap: 0.75rem;
		align-items: baseline;

		.value {
			margin-top: 0;
		}
	}
	.bomb {
		flex-direction: row-reverse;
	}

	.label, .subval {
		font-size: 0.75rem;
		color: #4b5563;
		margin: 0;
	}
	.value {
		font-size: 1.5rem;
		font-weight: bold;
		margin: 0.25rem 0 0 0;
	}

	.item {
		display: flex;
		gap: 0.5rem;
		align-items: center;
	}
	.icon {
		width: 1rem;
	}
	.name {
		flex-grow: 1;
	}
}

.dark .stats {
	.label, .subval {
		color: #9ca3af;
	}
}

.dark .stat {
	background-color: #030712;
}

.save-screen {
	h3 {
		margin-top: 0;
	}
	input {
		width: 100%;
		padding: 0.3em;
		margin-bottom: 0.5em;
	}
	.name {
		font-weight: bold;
		//display: inline-block;
		margin-right: 1em;
		display: block;
	}
	.saved-game {
		margin: 0.25em 0;
		padding: 0.5em;
		background-color: #ccc;
		cursor: pointer;

		&:hover {
			background-color: #aaa;
		}
	}
}

.switch {
	position: absolute;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
	padding: 0.5rem;
	background-color: transparent;
	border: 0;
	color: inherit;
}

.dark #icon-light {
	display: none;
}

#icon-dark {
	display: none;
}

.dark #icon-dark {
	display: initial;
}
